.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-collapse: collapse;
    border-bottom: 1px solid #dee2e6;

    th, td {
        border-top: 1px solid #e2e9e1;
        padding: 0.5rem 0.5rem;
        border-bottom-width: 1px;
        text-align: center;
    }
}